<!DOCTYPE html>
<html>
   <head>
      <title>pogi ako</title>
   </head>
   <link rel="stylesheet" type="text/css" href="../contents/bootstrap/css/bootstrap.css">
   <link rel="stylesheet" type="text/css" href="../contents/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="../contents/css/style.css">
   <link href="../contents/ihover-gh-pages/src/ihover.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="../contents/css/style.css">
   <link rel="stylesheet" type="text/css" href="../contents/css/aboutstyle.css">
   <style>
    .navbar-fixed-top {
    background-color: #d8f6fd;
    opacity: .8;
    }

   </style>
   <body>   
    
     <div class="contain">
      <nav id="header" class="navbar navbar-fixed-top">
         <div class="indentleft" >
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a id="brand" class="navbar-brand" style="font-family: sans-serif;" href="#">Maharlika Suites</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
               </ul>
            </div>
            <!-- /.nav-collapse -->
         </div>
         <!-- /.container -->
      </nav>

    <!-- </div> -->
   </div>
   <div style="width: 800px;">
          <div class="panel panel-default col-lg-12" style="height: 300px; background-color: #ffe46145;">
            <div class="panel-body"> <center><label style="font-size: 35px; color: black;">MISSION</label></center>
            </div>
          </div>
      </div>

    <div class="footer" style="background-position: fixed; width: 100%;">Copyright &copy; Maharlika.com</div>
</body>
   <script src="../contents/jquery/dist/jquery.min.js"></script>
   <script src="../contents/sweetalert/dist/sweetalert.min.js"></script>
   <script src="../contents/bootstrap/js/bootstrap.min.js"></script>

</html>